#btn-editar-moneda
{
    background-color: #114676;
    color: white;
}
#btn-guardar-moneda
{
    background-color: #114676;
    color: white;
}
#btn-foto:hover
{
    background-color: #919191;
}

.navbar {
    padding: .5rem;
}
/* Imagen responsiva */
.img-fluid {
    max-width: 100%; /* Ancho máximo completo */
    max-height: 150px; /* Altura máxima para evitar que sea demasiado grande */
    height: auto; /* Mantener la proporción de la imagen */
    object-fit: contain; /* Ajuste de imagen */
}

/* Limitar el tamaño máximo en pantallas grandes */
@media (min-width: 769px) {
    .img-fluid {
        max-width: 40%; /* Ajustar tamaño máximo en pantallas grandes */
        max-height: 110px; /* Altura máxima en pantallas grandes */
    }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
    .img-fluid {
        max-width: 25%; /* Ajustar tamaño en móviles */
        max-height: 100px; /* Altura máxima en móviles */
    }
}

/* Para pantallas medianas (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
    .img-fluid {
        max-width: 40%; /* Ajustar tamaño en tablets */
        max-height: 110px; /* Altura máxima en tablets */
    }
}