:root{
    --bs-danger: #114676;
    
}
body {
    background-color: #f8f9fa;
}
h5 {
    font-weight: bold;
    color: #333;
}
.nav-link.active {
    background-color: #114676;
}
.form-label {
    font-weight: bold;
}
.nav .nav-item button {
    position: relative;
}
.nav .nav-item button.active {
    background-color: transparent;
    color: var(--bs-danger) !important;
}
.nav .nav-item button.active::after {
    content: "";
    border-bottom: 4px solid var(--bs-danger);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 5px 5px 0 0;
}
/* Estilo base para input y select */
input, select {
    height: 40px; /* Altura base */
    width: 100%;  /* Asegura que ocupe todo el ancho disponible */
}
/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
    input, select {
        height: 35px; /* Ajuste en pantallas pequeñas */
    }

    h5 {
        font-size: 1rem; /* Texto más pequeño en pantallas móviles */
    }
}
/* Media query para pantallas medianas (tablets y mayores) */
@media (min-width: 768px) {
    input, select {
        height: 50px; /* Aumenta la altura en pantallas medianas */
    }
    h5 {
        font-size: 1.25rem; /* Aumenta tamaño de texto en pantallas medianas */
    }
}
/* Media query para pantallas grandes (laptops y desktop) */
@media (min-width: 992px) {
    input, select {
        height: 60px; /* Aumenta la altura en pantallas grandes */
        font-size: 1.2rem; /* Aumenta el tamaño de la fuente dentro de los inputs */
    }
    h5 {
        font-size: 1.5rem; /* Títulos más grandes */
    }
}
